.lead__picture {
  max-width: 440px;
  aspect-ratio: 22 / 15;
  box-sizing: border-box;

  background-color: #f4f4f4;
  object-fit: contain;
  object-position: center;

  position: sticky;

  top: 392px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  display: block;

  padding: 20px 50px;
}
