.cycles__image-box {
  margin: 0;

  border: 20px solid #f4f4f4;
  border-radius: 20px;
  background-color:#f4f4f4;
}


@media screen and (max-width: 675px) {
  .cycles__image-box {
    margin: 0;
    max-width: 100%;
    width: 100%;

    aspect-ratio: 284 / 306
  }

  .cycles__image-box:not(:nth-of-type(1)) {
    display: none;
  }
  }
