*{
  outline: 1px solid red;
}

.page {
  font-family: 'Inter', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  color: #fff;

  background-color: #333333;

  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 74px;

  background-color: #333333;
}

.header__menu {
  width: 100%;
  height: 74px;

  background-color: #333333;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}

.header__list {
  width: calc(100% - (120px * 2));

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 34px;

  padding: 0;
  margin: 28px auto;
}

.header__link {
  color: #fff;
  text-decoration: none;

  opacity: 1;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
}

.header__link:hover {
  opacity: .7;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.cover {
  position: relative;
}

.cover__main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;

  margin-left: 120px;
}

.cover__secondary-container {
  max-width: 460px;
}

.cover__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;

  margin: 80px 0 0 0;
}

.cover__subtitle {
  color: #E6E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  opacity: 0.7;

  margin: 50px 0;
}

.cover__button {
  width: 180px;
  height: 50px;

  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;

  cursor: pointer;

  background: linear-gradient(to right, #319e75 50%, #24b47e 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  padding: 0;

  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -ms-transition: .4s ease-out;
  -o-transition: .4s ease-out;
}

.cover__button:hover {
  background-position: left bottom;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
}

.cover__picture-caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  position: relative;

  margin: 167px 0 0 0;
}

.cover__picture-caption::after {
  content: "";

  width: 132px;
  height: 2px;

  background: #707070;

  position: absolute;
  top: 8px;
  left: 224px;
}

.cover__picture-position {
  width: 810px;
  height: 777px;

  position: absolute;
  top: 0;
  right: 0;
}

.cover__picture-container {
  width: 440px;
  height: 300px;
  aspect-ratio: 22 / 15;

  background-color: #f4f4f4;

  position: sticky;

  top: 392px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cover__picture {
  display: block;

  margin: 20px auto;
}

.cover__illustration {
  width: 610px;
  height: 836px;
  aspect-ratio: 305 / 418;

  background-image: url('images/cover.webp');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 20px;
}

.quote {
  height: 2000px;
}



/* Блок Merckx*/

.merckx {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 60px 120px 60px 120px;
  box-sizing:border-box
}

.merckx__container {
  max-width: 1200px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 80px;
}

.merckx__image {
  max-width: 650px;
  width: 100%;

  aspect-ratio: 65 / 46;
  object-fit: contain;

}

.merckx__quote-container {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.merckx__quote {
  margin: 0;

  max-width: 470px;
  width: 100%;

  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -.5px;
}

.merckx__author-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px
}

.merckx__quote-author {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.merckx__quote-author-subline {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #E5E5E5;

  opacity: .7;
}


/* Блок Highway */

.highway {
  position: relative;

  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 60px 0 60px 120px;

  box-sizing: border-box;
  overflow: hidden;
}

.highway__title {
  margin: 0 0 44px 0;
  
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -.5px;
}

.highway__description {
  margin: 0 0 83px 0;
  
  max-width: 460px;
  width: 100%;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  
  color: #E5E5E5;
  
  opacity: .7;
}

.highway__images {
  position: relative;
  margin: 0 0 50px 0;
  
  display: flex;
  gap: 40px;

}

.highway__images::after {
  content: "";

  width: 100px;
  height: 40px;

  background-image: url(./images/highway__image-icon.svg);
  background-size: 100%;

  position: absolute;
  bottom: 16px;
  left: 0;
  z-index: 1;
}

.highway__image {
  max-width: 650px;
  width: 100%;

  aspect-ratio: 13 / 8;
  object-fit: contain;
}

.highway__buttons {
  display: flex;
  gap: 20px;
}

.highway__button-left {
  width: 50px;
  height: 50px;

  background-image: url(./images/highway__button-left.svg);
  background-size: cover;

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out; 
}

.highway__button-left:hover {
opacity: .6;

transition: .2s ease-in;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-ms-transition: .2s ease-in;
-o-transition: .2s ease-in;
}


.highway__button-right {
  width: 50px;
  height: 50px;

  background-image: url(./images/highway__buttom-right.svg);
  background-size: cover;

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out; 
}

.highway__button-right:hover {
opacity: .6;

transition: .2s ease-in;
-webkit-transition: .2s ease-in;
-moz-transition: .2s ease-in;
-ms-transition: .2s ease-in;
-o-transition: .2s ease-in;
}

/* Блок Cycles */
/* todo накинуть оверфлоу на заголовки */
.cycles {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 60px 120px;
}

.cycles__header {
  display: flex;
  align-items:flex-end;

  margin: 0 0 116px 0;
}

.cycles__title {
  margin: 0;

  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.cycles__links {
  padding: 0;
  margin: 0;

  list-style: none;
  
  display: flex;
  gap: 40px;
  
  margin-left: auto;
  margin-bottom: 6px;
}

.cycles__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  
  text-decoration: none;
  color:#e5e5e5;
  
  opacity: .7;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out; 
}

.cycles__link:hover {
  opacity: .5;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.cycles__link_active {
  color:#fff;

  opacity: 1;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out; 
}

.cycles__link_active:hover {
  opacity: .65;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.cycles__images {
  padding: 0;
  margin: 0;

  list-style: none;
  
  display: flex;
  gap: 30px;
}

.cycles__image-box {
  margin: 0;
}

.cycles__image {
  padding: 0;
  margin: 0 0 20px 0;

  border: 20px solid #f4f4f4;
  border-radius: 20px;
  background-color:#f4f4f4;

  max-width: 380px;
  width: 100%;

  aspect-ratio: 1 / 1;
  object-fit: contain;
  box-sizing: border-box
}

.cycles__image-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-left: 6px;
}


/* Footer */

.footer {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 80px 120px 60px ;

  box-sizing: border-box;
}
.sending {
  max-width: 360px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.sending__title {
  margin: 0 0 50px 0;

  max-width: 229px;
  width: 100%;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.sending__form {
  margin: 0;
  padding: 0;
}

.sending__input {
  margin: 0 0 100px 0;
  padding: 11px 20px 9px;

  width: 100%;

  box-sizing:border-box;

  background-color:transparent;
  aspect-ratio: 36 / 5;

  font-weight: 500;
  font-size: 13px;
  line-height: 28px;

  border-radius: 4px;

  border: 1px solid rgba(125, 125, 125, 0.5)
}

.sending__copyright {
  margin: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: rgba(86, 86, 86, 1);

}