
  *{
    outline: 1px solid red;
  }

html {
  scroll-behavior: smooth;
}

.page {
  font-family: 'Inter', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  color: #fff;

  background-color: #333333;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 74px;

  background-color: #333333;
}

.header__menu {
  width: 100%;
  height: 74px;

  background-color: #333333;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}

.header__list {
  width: calc(100% - (120px * 2));

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 34px;

  padding: 0;
  margin: 28px auto;
}

.header__link {
  color: #fff;
  text-decoration: none;

  opacity: 1;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
}

.header__link:hover {
  opacity: .65;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.lead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;

  position: relative;

  margin-left: 120px;
}

.lead__container {
  max-width: 460px;
}

.lead__title {
  font-weight: 700;
  font-size: clamp(32px, 5vw, 55px);
  line-height: clamp(40px, 5vw, 60px);
  letter-spacing: -0.5px;

  margin: 80px 0 0 0;
}

.lead__subtitle {
  color: #E6E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  opacity: 0.7;

  margin: 50px 0;
}

.lead__button {
  width: 180px;
  height: 50px;

  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;

  cursor: pointer;

  background: linear-gradient(to right, #319e75 50%, #24b47e 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  padding: 0;

  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -ms-transition: .4s ease-out;
  -o-transition: .4s ease-out;
}

.lead__button:hover {
  background-position: left bottom;

  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
}

.lead__picture-caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  position: relative;

  margin: 167px 0 0 0;
}

.lead__picture-caption::after {
  content: "";

  width: 132px;
  height: 2px;

  background: #707070;

  position: absolute;
  top: 8px;
  left: 224px;
}

.lead__picture-container {
  max-width: 810px;
  min-width: 610px;
  width: 60%;
  height: 777px;

  /* background-color: #FF007A;
  opacity: 0.3; */

  position: absolute;

  top: 0;
  right: 0;
}

.lead__picture {
  max-width: 440px;
  aspect-ratio: 22 / 15;
  box-sizing: border-box;

  background-color: #f4f4f4;
  object-fit: contain;
  object-position: center;

  position: sticky;

  top: 347px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  display: block;

  padding: 20px 50px;
}

.lead__illustration {
  width: 100%;
  max-width: 610px;
  min-width: 440px;
  aspect-ratio: 305 / 418;

  background-image: url('images/cover.webp');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 20px;
}

.quote {
  height: 2000px;
}


/* Training */

.training {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;

  padding: 150px 120px 120px 120px;
}

.training__container {
  max-width: 460px;
}

.training__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;

  margin: 0;
}

.training__text-container {
  max-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 182px;
}

.training__text {
  color: #E5E5E5;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  margin: 50px 0 0 0;

  opacity: 0.7;
}

.training__list {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;

  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.training__link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;

  transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -ms-transition: .4s ease-out;
  -o-transition: .4s ease-out;
}

.training__link:hover {
  opacity: .75;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.training__picture {
  width: 100%;
  max-width: 580px;
  aspect-ratio: 29 / 23;

  object-fit: cover;
}

/* Footer */

.footer {
  background-color: #2f2f2f;

  padding: 80px 120px 60px 120px;
}

.footer__title {
  max-width: 229px;

  margin: 0;
}

.footer__form {
  max-width: 360px;
  min-height: 50px;
  box-sizing: border-box;

  margin: 50px 0 0 0;
  border: 1px solid rgba(125, 125, 125, .5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.footer__email {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;

  color: #fff;

  background: none;

  padding: 11px 20px;
  border: none;
}

.footer__email::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;

  opacity: .7;

  transition: .4s ease-in;
  -webkit-transition: .4s ease-in;
  -moz-transition: .4s ease-in;
  -ms-transition: .4s ease-in;
  -o-transition: .4s ease-in;
}

.footer__email:focus {
  outline: 1px solid #7d7d7d;
  outline-offset: -1px;
}

.footer__email:hover::placeholder {
  opacity: 1;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.footer__copyright {
  color: #565656;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  margin: 100px 0 0 0;
}
