.highway__title {
  font-weight: 700;
  font-size: clamp(32px, 5vw, 55px);
  line-height: clamp(40px, 6vw, 60px);
  letter-spacing: -.5px;

  margin: 0 0 50px 0;
}

@media screen and (max-width: 465px) {
  .highway__title {
    margin: 0 0 40px 0;
  }
}
