.cycles__image {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 1 / 1;

  box-sizing: border-box;
  object-fit: contain;

  margin: 0 0 20px 0;
  padding: 0;
}


@media screen and (max-width: 675px) {
  .cycles__image {
    width: 100%;
    max-width: 255%;

    margin: 0;
  }
}
