.cycles__image {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 1 / 1;

  box-sizing: border-box;
  object-fit: contain;
  background-color: #f4f4f4;
  border: 20px solid #f4f4f4;
  border-radius: 20px;

  padding: 0;

  box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 675px) {
  .cycles__image {
    width: 100%;
    max-width: 255%;

    border: none;

    margin: 0;

    box-shadow: none;
  }
}
