.highway {
  position: relative;

  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 60px 0 60px 120px;

  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .highway {
    padding: 60px 80px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .highway {
    padding: 80px 60px 40px;
    display: flex;
    flex-direction: column;
  }

  .highway::after {
    content: "";
    width: calc(100% - 120px);
    height: 1px;
    background: #707070;
    position: absolute;
    top: 40px;
    left: 60px;
}
}

@media screen and (max-width: 465px) {
  .highway {
    padding: 80px 18px 40px;
  }

  .highway::after {
    content: "";
    width: calc(100% - 36px);
    height: 1px;
    background: #707070;
    position: absolute;
    top: 40px;
    left: 18px;
}
}