.lead__subtitle {
  color: rgba(230, 230, 230, .7);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  margin: 50px 0;
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    order: 3;

    margin: 0;
  }
}

@media screen and (max-width: 465px) {
  .lead__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
