.lead__subtitle {
  color: #E6E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  margin: 50px 0;

  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    order: 3;

    margin: 0;
  }
}

@media screen and (max-width: 465px) {
  .lead__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
