.cycles__slider {
  display: none;
}

@media screen and (max-width: 675px) {
  .cycles__slider {
    display: flex;
    justify-content: center;
    gap: 5px;

    margin: 20px 0 0 0;
    padding: 0;
    }
}
