.highway__buttons {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1023px) {
  .highway__buttons {
    position: absolute;

    top: 85px;
    right: 60px;
  }
}

@media screen and (max-width: 465px) {
  .highway__buttons {
    gap: 10px;

    position: absolute;

    top: 87px;
    right: 18px;
  }
}
