.header__list {
  width: calc(100% - (120px * 2));
  max-width: 1200px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 34px;

  margin: 28px auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
