.cycles__image-caption {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-left: 6px;
}

@media screen and (max-width: 1023px) {
  .cycles__image-caption {
    text-align: center;
    margin: 0;
    transform: translate(0, 5px);

    color: #151515;
  }
}

 @media screen and (max-width: 425px) {
  .cycles__image-caption {
  
    font-size: 14px;
    line-height: 18px;
  }
  }