.cycles__image-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-left: 6px;
}

@media screen and (max-width: 675px) {
  .cycles__image-caption {
    text-align: center;

    margin: 0;

    font-size: 14px;
    line-height: 18px;
  }
  }