.cycles {
  max-width: 1200px;

  margin: 0 auto;
  padding: 60px 120px;
}

@media screen and (max-width: 1280px) {
  .cycles {
    padding: 120px 80px 60px;
  }
}

@media screen and (max-width: 767px) {
  .cycles {
    padding: 60px 60px 60px;
  }
}
@media screen and (max-width: 465px) {
  .cycles {
    padding: 40px 18px 104px;
  }
}