.lead__illustration {
  width: 100%;
  max-width: 610px;
  min-width: 520px;
  aspect-ratio: 305 / 418;

  background-image: url('../../../images/lead__illustration.webp');
  background-repeat: no-repeat;
  background-size: contain;

  grid-column: 2;
  grid-row: 1 / -1;

  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .lead__illustration {
    width: 90%;
    min-width: 254px;
    aspect-ratio: 127 / 174;

    align-self: flex-end;
    order: 2;

    margin: 0;
  }
}
