.lead__illustration {
  width: 100%;
  max-width: 610px;
  min-width: 440px;
  aspect-ratio: 305 / 418;

  background-image: url('../../../images/lead-illustration.webp');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 20px;
}
